@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $Very-Dark-Magenta;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  background: url('../images/bg-pattern-top-mobile.svg') no-repeat top left,
    url('../images/bg-pattern-bottom-mobile.svg') no-repeat bottom right;

  @media (min-width: 1440px) {
    background: url('../images/bg-pattern-top-desktop.svg') no-repeat top left,
      url('../images/bg-pattern-bottom-desktop.svg') no-repeat bottom right;
  }
}
.container {
  max-width: 37.5rem;
  height: 100vh;
  margin: auto;
  padding: 7.5rem 2.3rem;

  @media (min-width: 1440px) {
    max-width: 112rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
  }
}

.header {
  @media (min-width: 1440px) {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 0.75;
    letter-spacing: -0.3rem;
    text-align: center;
    margin-bottom: 2rem;

    @media (min-width: 1440px) {
      font-size: 6rem;
      text-align: left;
    }
  }

  P {
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.5;
    color: $Dark-Grayish-Magenta;
    margin-bottom: 2rem;

    @media (min-width: 1440px) {
      text-align: left;
    }
  }

  &__text {
    @media (min-width: 1440px) {
      max-width: 40%;
    }
  }
}

.rating-section {
  @media (min-width: 1440px) {
    width: 50%;
  }
}

.rating {
  background-color: $Light-Grayish-Magenta;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 1.5rem;
  border-radius: 1.2rem;
  font-weight: 700;

  .stars-img {
    display: block;
    @media (min-width: 1440px) {
      display: inline;
    }
  }

  span {
    margin-left: 3.3rem;
    font-size: 1.7rem;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
  &:first-child {
    @media (min-width: 1440px) {
      transform: translateX(-4.5rem);
    }
  }

  &:last-child {
    @media (min-width: 1440px) {
      transform: translateX(4.5rem);
    }
  }
}

.testimonials {
  margin: auto;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}

.testimonial {
  background-color: $Very-Dark-Magenta;
  padding: 2.5rem;
  margin: 0 0 2rem;
  border-radius: 1.2rem;

  &__author-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    img {
      height: 4rem;
      border-radius: 50%;
    }
  }

  &__author-name {
    display: block;
    color: $Light-Grayish-Magenta;
    font-size: 1.75rem;
  }
  &__author-title {
    font-size: 1.75rem;
    display: block;
    color: $Soft-Pink;
  }
  p {
    color: $Light-Grayish-Magenta;
    font-size: 1.7rem;
  }

  &:first-child {
    @media (min-width: 1440px) {
      transform: translateY(-5.5rem);
    }
  }

  &:last-child {
    @media (min-width: 1440px) {
      transform: translateY(5.5rem);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
